{% load static %}
<script src="{% static 'pass_viewer/js/utils.js' %}?v=beskhoz-1"></script>
<script src="{% static 'pass_viewer/js/kind-filters.js' %}"></script>
<script src="{% static 'pass_viewer/js/draw-i18n.js' %}"></script>
<script src="{% static 'pass_viewer/js/popups.js' %}"></script>
<script src="{% static 'pass_viewer/js/geometry-multipolygon-save.js' %}"></script>
<script src="{% static 'pass_viewer/js/pdf-export.js' %}"></script>
<script src="{% static 'pass_viewer/js/basemap.js' %}"></script>
<script src="{% static 'pass_viewer/js/map-tools.js' %}"></script>
